/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/
.foto {
    border: 3px solid white;
    border-radius: 100%;
    width: 150px;
}

.obrazek {
    position: relative;
    z-index: 1; /* obrázek nebude pod vizitkou ale nad */
    margin-top: -100px;
    margin-left: 420px;
}

body {
    background-color: #b2bec3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

h1 {
    margin: 0;
    color:#d63031;
    font-size: 36px;
    font-weight: bold;
}

p {
    margin: 30px 0 30px 0;
    font-size: 18px;
}
.sekce {
    position: relative; /* Nejčastěji se nastavuje relative, protože tu samou vizitku to nikam neposune. Nastavuju to ptoto, že position u foto se musí vztahovat k nejbližšímu rodiči co má nastavený position, což by bylo k body a to nechci. */
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    width: 550px;
    box-shadow: 5px 5px 10px rgb(92, 92, 92);
    font-family: 'Nunito', sans-serif;
}

.bottom1,
.bottom2 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
}

.bottom1 {
    border: none;
    background-color: #1da1f2;
    margin-bottom: 5px;
}

.bottom1:hover {
    background-color: #0b7bc1;
}

.bottom2 {
    border: none;
    background-color: #3b5998;
}

.bottom2:hover {
    background-color: #2b406e;
}